.btn {
    color: white;
    background: rgb(241, 0, 0);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    color: black;
    background: rgba(255, 53, 53, 0.541);
    transform: scale(1.3);
    transition: transform 0.2s ease;
}